/* Цвет основного текста #757575 */
/* Цвет заголовка  #212121 */
/* белый #FFFFFF */
/* background наша команда #F5F4FA */
/* Акцент #2196F3 */
/* Цвет в футере мейла и телефона rgba(255, 255, 255, 0.6) */
/* background #2F303A героя и подвала */
/* черный в логотипе #000000  */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
p {
  padding: 0px;
  margin: 0px;
}
.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  display: flex;
  align-items: center;
}
.vusually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  /* white-space:  nowrap; */
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Футер */
.page-head {
  border-bottom: 1px solid #ececec;
}
.main-head {
  display: flex;
  /* justify-content: space-between; 
  можно или то или то, работает в обоих случаях (?спросить ментора)
  .auth-nav {
  margin-left: auto;
  */
  align-items: center;
}
/* Логотип компании */
.logo {
  margin-right: 93px;
  color: #000000;
  font-family: Raleway, sans-serif;
  /* font-style: normal; */
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-web-header {
  color: var(--accent-color);
}
/* site-nav */
.site-nav {
  display: flex;
}
.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}
/* Все, после(кроме) первого получат свойство марджин
.site-nav .link + .link{
  margin-left: 50px;
} 
*/
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.active.link {
  color: var(--accent-color);
}
/* auth-nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}
.auth-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Подвал сайта */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-web-footer {
  color: var(--accent-color);
}
.address {
  color: var(--primary-white-color);
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address > p,
.address[href='tel:+380991111111'] {
  margin-bottom: 9px;
}
.address > .link {
  color: rgba(255, 255, 255, 0.6);
  display: block;
}
.address > .link:hover,
.address > .link:focus {
  color: var(--accent-color);
}
